{% trans_default_domain 'app' %}
{% extends 'front_layout.html.twig' %}
{% block title %}
    Ituri Turismo
{% endblock %}
{% block metas %}
    <meta name="description" content="Estàs cansat de buscar per les pàgines els punts d'interés dels pròxims llocs que visitis? Benvingut a Ituri Turismo.">
{% endblock %}

{% block body %}
    <!-- Hero Info -->
    <section class="u-shadow-v3 dzsparallaxer auto-init height-is-based-on-content" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "400"}'>
        <!-- Parallax Image -->
        {#<div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_2--after" style="height: 140%; background-image: url({{ asset('img/principal/1920x1080_bg.jpg') }})"></div>#}
        <div id="carouselExampleIndicators" class="carousel slide divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_2" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                {% set count = 1 %}
                {% for poblacion in poblaciones %}
                    {% if poblacion.imagen is defined and poblacion.imagen is not null %}
                        <div class="carousel-item {% if count == 1 %}active{% endif %}">
                            <img class="d-block w-100" src="{{ poblacion.imagen }}" alt="{{ poblacion.nombre }}">
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            {% image '@AppBundle/Resources/public/images/test/1200x800_testHome_2.jpg' %}
                                <img class="d-block w-100" src="{{ asset_url }}" alt="{{ poblacion.nombre }}">
                            {% endimage %}
                        </div>
                    {% endif %}
                    {% set count = count + 1 %}
                {% endfor %}
            </div>
        </div>
        <!-- End Parallax Image -->

        <div class="container text-center g-color-white g-pt-120 g-pb-70">
            <div class="row">
                <div class="col-md-8 ml-md-auto mr-md-auto">
                    <h1 class="h1 mb-3">Bienvenido a <span class="g-color-primary">iTuri Turismo</span></h1>
                    <div class="d-inline-block g-width-60 g-height-1 g-bg-white mb-3"></div>

                    <p class="lead g-mb-60">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas ac nulla vehicula risus pulvinar feugiat ullamcorper sit amet mi. Nam placerat efficitur dui, quis mattis magna.</p>
                </div>
            </div>
        </div>
    </section>

    {# ------------------------------------- #}

    <section class="g-py-80 g-bg-lightbrown-radialgradient-ellipse-custom">
        <div class="container">
            <header class="text-center g-width-70x--md mx-auto g-mb-50">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                    <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Nuestras recomendaciones</h2>
                </div>
                <p class="g-font-size-16">
                    Nunc sit amet metus nisl. Integer id enim pharetra, tempus risus quis, faucibus nulla. Duis eu commodo
                    dolor. Suspendisse potenti. Etiam quis turpis eget massa consequat vehicula. Nulla et lacus ultrices,
                    varius est eu, aliquam enim. Suspendisse potenti.
                </p>
            </header>

            {% for poblacion in poblaciones %}
                <div class="media g-mb-20">

                    {# Imagen a cambiar por el escudo recogido #}
                    {% if poblacion.escudo is not empty or poblacion.escudo is not null %}
                        <div class="u-shadow-v4 g-mb-30">
                            <img class="img-fluid g-width-100 g-mt-3 g-mr-20" src="{{ poblacion.escudo }}" alt="{{ poblacion.nombre }}_escudo">
                        </div>
                    {% endif %}
                    {# -------------------------------------- #}

                    <div class="u-shadow-v3 media-body u-shadow-v22 g-bg-secondary g-pa-30 g-width-150">
                        <div class="g-mb-15">
                            <h5 class="d-flex justify-content-between align-items-center h5 g-color-gray-dark-v1 mb-0">
                                <span class="d-block g-mr-10">{{ poblacion.nombre }}</span>
                            </h5>
                        </div>
                        <p>
                            {{ poblacion.descripcion|slice(0, 300) ~ '...' }}
                            <a href="{{ path('mostrar_info_poblacion', {'poblacion_name': poblacion.nombre }) }}">Ver la población</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    
    <!-- Hero Info -->
{% endblock %}