{% trans_default_domain 'app' %}
{% extends 'front_layout.html.twig' %}
{% block title %}
    Ituri Turismo
{% endblock %}
{% block metas %}
    <meta name="description" content="Estàs cansat de buscar per les pàgines els punts d'interés dels pròxims llocs que visitis? Benvingut a Ituri Turismo.">
{% endblock %}

{% block body %}
    <!-- Imagen principal -->
    <section class="u-bg-overlay g-bg-img-hero g-bg-bluegray-opacity-0_3--after" style="background-image: url({{ poblacion.imagen }})">
        <div class="container u-bg-overlay__inner text-center g-pt-150 g-pb-70">
            <div class="g-mb-100">
                <span class="d-block g-color-white g-font-size-20 text-uppercase g-letter-spacing-5 mb-4">Bienvenido a</span>
                <h1 class="g-color-white g-font-weight-700 g-font-size-20 g-font-size-50--md text-uppercase g-line-height-1_2 g-letter-spacing-10 mb-4">{{ poblacion.nombre }}</h1>
            </div>

            <div class="g-pos-abs g-left-0 g-right-0 g-z-index-2 g-bottom-30">
                <a href="#" data-target="#descripcion" class="js-go-to btn u-btn-outline-white g-color-white g-bg-white-opacity-0_1 g-color-black--hover g-bg-white--hover g-font-weight-600 text-uppercase g-rounded-50 g-px-30 g-py-11">
                    <i class="fa fa-angle-down"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- End Imagen principal -->

    <!-- Descripcion -->
    <div id="descripcion" class="g-bg-gray-gradient-opacity-v1">
        <div class="container g-pt-80 g-pb-20">
            <div class="masonry-grid row mb-5">
                <div class="masonry-grid-sizer col-sm-1"></div>
                <div class="masonry-grid-item col-lg-9 {% if poblacion.escudo is empty or poblacion.escudo is null %} col-lg-12 {% else %} col-lg-9 {% endif %}">
                    <div class="g-pr-40--lg">
                        <h2 class="h2 g-color-black g-font-weight-600 mb-4">Como es la población de<br>{{ poblacion.nombre }}</h2>
                        <p class="lead mb-5">{{ poblacion.descripcion }}</p>
                    </div>
                </div>

                <!-- Escudo -->
                {% if poblacion.escudo is not empty and poblacion.escudo is not null %}
                    <div class="masonry-grid-item col-sm-6 col-lg-3">
                        <div data-parallaxanimation='[{property: "transform", value:" translate3d(0,px,0)", initial:"-45", mid:"0", final:"45"}]'>
                            <img class="img-fluid w-50" src="{{ poblacion.escudo }}" alt="poblacion_escudo">
                        </div>
                    </div>
                {% endif %}
                <!-- End Escudo -->
            </div>
        </div>
    </div>
    <!-- End Descripcion -->

    {% if localizaciones is defined and localizaciones is not empty %}
        <!-- Map_block -->
        <section class="g-bg-gray-radialgradient-ellipse">
            <div class="container g-z-index-1 g-py-60">
                <h2 class="g-font-weight-300 g-letter-spacing-1 g-mb-15">Mapa de puntos de interés</h2>

                <!-- Mapa -->
                <div class="g-color-white g-py-20 g-pt-20">
                    <div id="mapid" class="u-shadow-v1-5 g-line-height-2 rounded" style="height: 600px"></div>
                </div>
                <!--End Mapa -->
            </div>
        </section>

        <section class="g-bg-gray-gradient-opacity-v1">
            <div class="container g-z-index-1 g-py-60">
                <!-- Acordeon -->
                <div class="g-py-20">
                    <h1 class="g-font-weight-300 g-letter-spacing-1 g-mb-15">Más información</h1>
                    <div class="row">

                        <!-- Acordeon A -->
                        {% if localizaciones_tipo[1] is not empty %}
                            <div class="col-lg-6 g-pb-50">
                                <h3 class="h4 g-color-black g-font-weight-400 mb-4">Puntos de interés</h3>
                                <div class="shortcode-html">
                                    <div id="puntos" class="u-accordion" role="tablist" aria-multiselectable="true">

                                        {% for localizacion in localizaciones_tipo[1] %}
                                            <!-- Card -->
                                            <div class="card rounded-0 g-bg-gray-light-v4 g-brd-none">
                                                <div id="puntos-h-{{ localizacion.id }}" class="u-accordion__header g-pa-20" role="tab">
                                                    <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700">
                                                        <a href="#puntos-b-{{ localizacion.id }}" data-parent="#puntos" aria-expanded="true" aria-controls="puntos-b-{{ localizacion.id }}" data-toggle="collapse" class="d-flex justify-content-between g-color-main g-text-underline--none--hover">
                                                            {{ localizacion.nombre }}
                                                            <span class="u-accordion__control-icon g-ml-10">
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-up"></i>
                                                </span>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="puntos-b-{{ localizacion.id }}" class="collapse" role="tabpanel" aria-labelledby="puntos-h-{{ localizacion.id }}" data-parent="#puntos">
                                                    <div class="u-accordion__body g-color-gray-dark-v5 g-pa-0-20-20">
                                                        {{ localizacion.descripcion }}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Card -->
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- End Acordeon A -->

                        <!-- Acordeon B -->
                        {% if localizaciones_tipo[2] is not empty %}
                            <div class="col-lg-6 g-pb-50">
                                <h3 class="h4 g-color-black g-font-weight-400 mb-4">Edificios</h3>
                                <div class="shortcode-html">
                                    <div id="edificios" class="u-accordion" role="tablist" aria-multiselectable="true">

                                        {% for localizacion in localizaciones_tipo[2] %}
                                            <!-- Card -->
                                            <div class="card rounded-0 g-bg-gray-light-v4 g-brd-none">
                                                <div id="edificios-h-{{ localizacion.id }}" class="u-accordion__header g-pa-20" role="tab">
                                                    <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700">
                                                        <a href="#edificios-b-{{ localizacion.id }}" data-parent="#puntos" aria-expanded="true" aria-controls="edificios-b-{{ localizacion.id }}" data-toggle="collapse" class="d-flex justify-content-between g-color-main g-text-underline--none--hover">
                                                            {{ localizacion.nombre }}
                                                            <span class="u-accordion__control-icon g-ml-10">
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-up"></i>
                                                </span>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="edificios-b-{{ localizacion.id }}" class="collapse" role="tabpanel" aria-labelledby="edificios-h-{{ localizacion.id }}" data-parent="#edificios">
                                                    <div class="u-accordion__body g-color-gray-dark-v5 g-pa-0-20-20">
                                                        <p>{{ localizacion.descripcion }}</p>
                                                        {% if localizacion.horario is not empty or localizacion.horario is not null %}
                                                            <p><strong>Horarios:</strong> {{ localizacion.horario }}</p>
                                                        {% endif %}
                                                        {% if localizacion.contacto is not empty or localizacion.contacto is not null %}
                                                            <p><strong>Contacto:</strong> {{ localizacion.contacto }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Card -->
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- End Acordeon B -->

                        <!-- Acordeon C -->
                        {% if localizaciones_tipo[3] is not empty %}
                            <div class="col-lg-6 g-pb-50">
                                <h3 class="h4 g-color-black g-font-weight-400 mb-4">Restaurantes, hoteles...</h3>
                                <div class="shortcode-html">
                                    <div id="otros" class="u-accordion" role="tablist" aria-multiselectable="true">

                                        {% for localizacion in localizaciones_tipo[3] %}
                                            <!-- Card -->
                                            <div class="card rounded-0 g-bg-gray-light-v4 g-brd-none">
                                                <div id="otros-h-{{ localizacion.id }}" class="u-accordion__header g-pa-20" role="tab">
                                                    <h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700">
                                                        <a href="#otros-b-{{ localizacion.id }}" data-parent="#puntos" aria-expanded="true" aria-controls="otros-b-{{ localizacion.id }}" data-toggle="collapse" class="d-flex justify-content-between g-color-main g-text-underline--none--hover">
                                                            {{ localizacion.nombre }}
                                                            <span class="u-accordion__control-icon g-ml-10">
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-up"></i>
                                                </span>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="otros-b-{{ localizacion.id }}" class="collapse" role="tabpanel" aria-labelledby="otros-h-{{ localizacion.id }}" data-parent="#otros">
                                                    <div class="u-accordion__body g-color-gray-dark-v5 g-pa-0-20-20">
                                                        <p>{{ localizacion.descripcion }}</p>
                                                        {% if localizacion.horario is not empty or localizacion.horario is not null %}
                                                            <p><strong>Horarios:</strong> {{ localizacion.horario }}</p>
                                                        {% endif %}
                                                        {% if localizacion.contacto is not empty or localizacion.contacto is not null %}
                                                            <p><strong>Contacto:</strong> {{ localizacion.contacto }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Card -->
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- End Acordeon C -->

                    </div>
                </div>
                <!-- End Acordeon -->
            </div>
        </section>
        <!-- End Map_block -->
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>

        //---------------------------------------------
        //Preconfiguración imagenes de marcadores personalizados
        //---------------------------------------------

        {% image '@AppBundle/Resources/public/images/markers/marker_green.png' %}
        var greenIcon = L.icon({
            iconUrl: "{{ asset_url }}",

            iconSize:     [31, 42], // size of the icon
            iconAnchor:   [15, 42], // point of the icon which will correspond to marker's location
            popupAnchor:  [1, -40] // point from which the popup should open relative to the iconAnchor
        });
        {% endimage %}

        {% image '@AppBundle/Resources/public/images/markers/marker_grey.png' %}
        var greyIcon = L.icon({
            iconUrl: "{{ asset_url }}",

            iconSize:     [31, 42], // size of the icon
            iconAnchor:   [15, 42], // point of the icon which will correspond to marker's location
            popupAnchor:  [1, -40] // point from which the popup should open relative to the iconAnchor
        });
        {% endimage %}

        {% image '@AppBundle/Resources/public/images/markers/marker_red.png' %}
        var redIcon = L.icon({
            iconUrl: "{{ asset_url }}",

            iconSize:     [31, 42], // size of the icon
            iconAnchor:   [15, 42], // point of the icon which will correspond to marker's location
            popupAnchor:  [1, -40] // point from which the popup should open relative to the iconAnchor
        });
        {% endimage %}

        //---------------------------------------------
        //Obtener variables segun parametros de BDD
        //---------------------------------------------

        var centro_lat = {{ poblacion.poslat }};
        var centro_lng = {{ poblacion.poslng }};

        //---------------------------------------------
        //Inclusión del mapa de forma basica al sistema
        //---------------------------------------------

        var Satelite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}');
        var Calles   = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}');

        var mymap = L.map('mapid', {
            // scrollWheelZoom: false,
            center: [centro_lat, centro_lng],
            zoom: 16,
            layers: [Calles]
        });
        var MapasSeleccionados = {
            "Satelite": Satelite,
            "Calles": Calles
        };

        L.control.layers(MapasSeleccionados).addTo(mymap);
        //---------------------------------------------
        //Configuracion de marcadores personalozados
        //---------------------------------------------

        // specify popup options
        {% for localizacion in localizaciones %}

            var customOptions =
                {
                    'maxWidth': '500',
                    'className' :
                            {% if localizacion.tipo == "Edificios" %}
                                'custom-red'
                            {% elseif localizacion.tipo == "Punto de interes" %}
                                'custom-green'
                            {% else %}
                                'custom-grey'
                            {% endif %}
                };

            var marker_{{ localizacion.id }} = L.marker(
                    [{{ localizacion.poslat }}, {{ localizacion.poslng }}],
                    {icon: {% if localizacion.tipo == "Edificios" %}
                                redIcon
                            {% elseif localizacion.tipo == "Punto de interes" %}
                                greenIcon
                            {% else %}
                                greyIcon
                            {% endif %}}
                ).bindPopup( '<div class="row" style="width: 500px">' +
                    '<div class="col-6">' +
                    '<strong class="h2 g-color-black g-font-weight-400 mb-4">' +
                    '{{ localizacion.nombre }}<br>' +
                    '</strong>'+
                    '<p class="g-font-size-14 mb-5">' +
                        "{{ localizacion.descripcion|slice(0, 190) ~ '...' }}"+
                    '</p>' +
                    '</div>' +
                    '<div class="col-6 -align-right" style="margin-left: -10px !important;">' +
                    '<img class="w-80" src="{{ localizacion.imagen }}">' +
                    '</div>' +
                    '</div>', customOptions)
                .addTo(mymap);
        {% endfor %}

        //---------------------------------------------
        //Eventos de prueva para el mapa
        //---------------------------------------------

        //---------------------------------------------
    </script>
{% endblock %}