{% trans_default_domain 'app' %}
{% extends 'back_layout.html.twig' %}
{% block title %}
    Ituri Turismo
{% endblock %}
{% block metas %}
    <meta name="description" content="Estàs cansat de buscar per les pàgines els punts d'interés dels pròxims llocs que visitis? Benvingut a Irune Turismo.">
{% endblock %}
{% block body %}
<div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
    <!-- Breadcrumb-v1 -->
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">

            <li class="list-inline-item g-mr-10">
                <span class="g-valign-middle">Usuarios</span>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

            {#<li class="list-inline-item g-mr-10">#}
            {#<a class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" href="#!">Tables</a>#}
            {#<i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>#}
            {#</li>#}

            <li class="list-inline-item">
                <span class="g-valign-middle">{% if tipo == 0 %}Nuevo{% else %}Editar{% endif %} usuario</span>
            </li>
        </ul>
    </div>

    <div class="g-pa-20">
        <h1 class="g-font-weight-400 g-font-size-28 g-color-black g-mb-20">{% if tipo == 0 %}Nueva{% else %}Editar{% endif %} localización</h1>
        <div class="row">
            <!-- 1-st column -->
            <div class="col-md-9">
                <!-- Basic Text Inputs -->
                <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
                    {# Inicio del formulario #}
                    {{ form_start(userForm) }}

                    <!-- Nombre -->
                    <div class="form-group g-mb-30">
                        <label class="g-mb-5 g-font-weight-300 g-font-size-20">Nombre</label>

                        <div class="g-pos-rel">
                                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                    <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                                </span>
                            {{ form_widget(userForm.username)}}
                        </div>
                    </div>
                    <!-- End Nombre -->

                    <!-- Password -->
                    <div class="form-group g-mb-30">
                        <label class="g-mb-5 g-font-weight-300 g-font-size-20">Contraseña</label>

                        <div class="g-pos-rel">
                                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                    <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                                </span>
                            {{ form_widget(userForm.password)}}
                        </div>
                    </div>
                    <!-- End Password -->

                    <!-- Correo -->
                    <div class="form-group g-mb-30">
                        <label class="g-mb-5 g-font-weight-300 g-font-size-20">Correo</label>

                        <div class="g-pos-rel">
                                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                    <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                                </span>
                            {{ form_widget(userForm.email)}}
                        </div>
                    </div>
                    <!-- End Correo -->

                    <!-- Población -->
                    <div class="form-group g-mb-30">
                        <label class="g-mb-5 g-font-weight-300 g-font-size-20">Población</label>

                        <div class="form-group u-select--v3 g-pos-rel g-brd-gray-light-v7 rounded-0 mb-0">
                            {{ form_widget(userForm.poblacion) }}
                            <div class="d-flex align-items-center g-absolute-centered--y g-right-0 g-color-gray-light-v6 g-color-lightblue-v9--sibling-opened g-mr-15">
                                <i class="hs-admin-angle-down"></i>
                            </div>
                        </div>
                    </div>
                    <!-- End Población -->

                    <!-- Roles -->
                    <div class="form-group g-mb-30">
                        <label class="g-mb-5 g-font-weight-300 g-font-size-20">Roles</label>

                        <div class="form-group g-pos-rel mb-0">
                            {{ form_widget(userForm.roles) }}
                        </div>
                    </div>
                    <!-- End Roles -->

                    {{ form_widget(userForm.guardar) }}
                    <a href="{{ path('mostrar_usuarios') }}" class="btn btn-secondary">Cancelar</a>

                    {{ form_end(userForm) }}
                    {# Fin del fromulario #}
                </div>
            </div>
{% endblock %}