{% trans_default_domain 'app' %}
{% extends 'back_layout.html.twig' %}
{% block title %}
    Ituri Turismo
{% endblock %}
{% block metas %}
    <meta name="description" content="Estàs cansat de buscar per les pàgines els punts d'interés dels pròxims llocs que visitis? Benvingut a Ituri Turismo.">
{% endblock %}
{% block body %}
    <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
        <!-- Breadcrumb-v1 -->
        <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
            <ul class="u-list-inline g-color-gray-dark-v6">

                <li class="list-inline-item g-mr-10">
                    <span class="g-valign-middle">Usuarios</span>
                    <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
                </li>

                {#<li class="list-inline-item g-mr-10">#}
                {#<a class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" href="#!">Tables</a>#}
                {#<i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>#}
                {#</li>#}

                <li class="list-inline-item">
                    <span class="g-valign-middle">Mostrar usuarios</span>
                </li>
            </ul>
        </div>

        <div class="g-pa-20">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
            <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-30">Usuarios actuales registrados</h1>
            {% if usuarios is empty %}
                <span>Lo sentimos pero actualmente no disponemos de usuarios en nuestra base de datos.</span>
            {% else %}
                <div class="table-responsive">
                    <table class="js-editable-table table u-table--v3 u-editable-table--v1 g-color-black">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Usuario</th>
                                <th>Correo</th>
                                <th>Población</th>
                                <th>Modificar</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for usuario in usuarios %}
                            <tr>
                                <td>{{ usuario.id }}</td>
                                <td>{{ usuario.username }}</td>
                                {% if usuario.email is empty %}
                                    <td>---</td>
                                {% else %}
                                    <td>{{ usuario.email }}</td>
                                {% endif %}
                                {% if usuario.poblacion is empty %}
                                    <td>---</td>
                                {% else %}
                                    <td>{{ usuario.poblacion }}</td>
                                {% endif %}
                                <td>
                                    <a href="{{ path('modificar_usuario', {'id': usuario.id }) }}" class="js-edit u-link-v5 g-color-gray-light-v6 g-color-secondary--hover">
                                        <i class="hs-admin-id-badge"></i>
                                    </a>
                                    <a href="{{ path('eliminar_usuario', {'id': usuario.id }) }}" class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-text-underline--none--hover g-ml-12">
                                        <i class="hs-admin-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}