{% trans_default_domain 'app' %}
{% extends 'back_layout.html.twig' %}
{% block title %}
    Ituri Turismo
{% endblock %}
{% block metas %}
    <meta name="description" content="Estàs cansat de buscar per les pàgines els punts d'interés dels pròxims llocs que visitis? Benvingut a Irune Turismo.">
{% endblock %}
{% block body %}
    <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
    <!-- Breadcrumb-v1 -->
        <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
            <ul class="u-list-inline g-color-gray-dark-v6">

                <li class="list-inline-item g-mr-10">
                    <span class="g-valign-middle">Poblaciones</span>
                    <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
                </li>

                {#<li class="list-inline-item g-mr-10">#}
                {#<a class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" href="#!">Tables</a>#}
                {#<i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>#}
                {#</li>#}

                <li class="list-inline-item">
                    <span class="g-valign-middle">{% if tipo == 0 %}Nueva{% else %}Editar{% endif %} población</span>
                </li>
            </ul>
        </div>

        <div class="g-pa-20">
            <h1 class="g-font-weight-400 g-font-size-28 g-color-black g-mb-20">{% if tipo == 0 %}Nueva{% else %}Editar{% endif %} población</h1>
            <div class="row">
            <!-- 1-st column -->
                <div class="col-md-9">
                    <!-- Basic Text Inputs -->
                    <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">

                        {# Inicio del formulario #}
                        {{ form_start(poblacionForm) }}

                        <!-- Nombre -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Nombre</label>

                            <div class="g-pos-rel">
                                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                    <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                                </span>
                                {{ form_widget(poblacionForm.nombre)}}
                            </div>
                        </div>
                        <!-- End Nombre -->

                        <!-- Provincia -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Provincia</label>

                            <div class="form-group u-select--v3 g-pos-rel g-brd-gray-light-v7 rounded-0 mb-0">
                                {{ form_widget(poblacionForm.provincia) }}
                                <div class="d-flex align-items-center g-absolute-centered--y g-right-0 g-color-gray-light-v6 g-color-lightblue-v9--sibling-opened g-mr-15">
                                    <i class="hs-admin-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <!-- End Provincia -->

                        <!-- Descripción -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Descripción</label>

                            {{ form_widget(poblacionForm.descripcion,
                            {"attr": {
                                "class": "form-control form-control-md g-resize-none g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0",
                                "rows": 3 }
                            })}}
                            <small class="form-text text-muted g-font-size-default g-mt-10">
                                <strong>Nota:</strong> Esta descripción se mostrará en la pantalla principal de la propia localidad como información sobre la misma.
                            </small>
                        </div>
                        <!-- End Descripción -->

                        <!-- Imagen -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Imagen</label>

                            <div class="g-pos-rel">
                                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                    <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                                </span>
                                {{ form_widget(poblacionForm.imagen, {"attr": {"class": "form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 g-px-14 g-py-10" }})}}
                            </div>
                            <small class="form-text text-muted g-font-size-default g-mt-10">
                                <strong>Nota:</strong> Link externo de la imagen/banner pincipal de la población. Se aceptan imagenes de tipo:".png", ".jpg".
                            </small>
                        </div>
                        <!-- End Escudo -->

                        <!-- Escudo -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Escudo</label>

                            <div class="g-pos-rel">
                                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                    <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                                </span>
                                {{ form_widget(poblacionForm.escudo, {"attr": {"class": "form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 g-px-14 g-py-10" }})}}
                            </div>
                            <small class="form-text text-muted g-font-size-default g-mt-10">
                                <strong>Nota:</strong> Link externo del escudo de la población. Se aceptan imagenes de tipo:".png", ".jpg".
                            </small>
                        </div>
                        <!-- End Escudo -->

                        <!-- Posicionamiento -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Posición central del mapa</label>
                            {{ form_widget(poblacionForm.pos_lat, {"attr" :{"hidden": true }}) }}
                            {{ form_widget(poblacionForm.pos_lng, {"attr" :{"hidden": true }}) }}
                            <div class="g-color-white">
                                <div id="mapid" class="g-brd-around g-brd-gray-light-v7 g-rounded-4" style="height: 600px"></div>
                            </div>
                        </div>
                        <!-- End Posicionamiento -->

                        <!-- Otros apartados -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Otros</label>
                            <br>
                            ¿Quieres que sea visible en la página principal de "Ituri"?
                            <label class="form-check-inline u-check g-pl-25">
                                {{ form_widget(poblacionForm.visible) }}
                                <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                                    <i></i>
                                </div>
                            </label>
                        </div>
                        <!-- End Otros apartados -->

                        {{ form_widget(poblacionForm.guardar) }}
                        <a href="{{ path('mostrar_poblaciones') }}" class="btn btn-secondary">Cancelar</a>
                        {{ form_end(poblacionForm) }}
                        {# Fin del fromulario #}
                    </div>
                </div>
{% endblock %}

{% block javascripts %}
    <script>
        //------------------------------------------
        //Preconfiguración de variables para el mapa
        //------------------------------------------

        var positionLat = document.getElementById("poblacion_form_pos_lat").value;
        var positionLng = document.getElementById("poblacion_form_pos_lng").value;

        if((positionLat == 0 || positionLng == 0) ||
            (positionLat == null || positionLng == null)){
            positionLat = 41.156259319580684;
            positionLng = 1.1105937748164731;

            document.getElementById("poblacion_form_pos_lat").value = positionLat;
            document.getElementById("poblacion_form_pos_lng").value = positionLng;
        }

        //---------------------------------------------
        //Inclusión del mapa de forma básica al sistema
        //---------------------------------------------

        var Satelite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}');
        var Calles   = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}');

        var mymap = L.map('mapid', {
            center: [positionLat, positionLng],
            zoom: 12,
            layers: [Calles]
        });
        var MapasSeleccionados = {
            "Satelite": Satelite,
            "Calles": Calles
        };

        L.control.layers(MapasSeleccionados).addTo(mymap);

        //------------------------------------------
        //Configuracion de marcadores personalozados
        //------------------------------------------

        // specify popup options
        var customOptions =
            {
                'maxWidth': '500',
                'className' : 'editarPoblacion'
            }

        var marker = L.marker([positionLat, positionLng], {draggable: true})
            .bindPopup("Punto donde se centrará el mapa en la versión oficial" +
                       "<br>(Recuerda que para cambiarlo, con arrastrar el marcador es suficiente)", customOptions)
            .addTo(mymap);

        marker.on('dragend',guardarPosicionMarcador);

        function guardarPosicionMarcador(e){
            var markerPosition = marker.getLatLng();
             document.getElementById("poblacion_form_pos_lat").value = markerPosition["lat"];
             document.getElementById("poblacion_form_pos_lng").value = markerPosition["lng"];

             console.log(document.getElementById("poblacion_form_pos_lat").value);
        }

        //---------------------------------------------
    </script>
{% endblock %}