<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top" style="z-index: 70000">
    <div class="u-header__section u-header__section--admin-dark g-min-height-65">
        <nav class="navbar no-gutters g-pa-0">
            <div class="col-auto d-flex flex-nowrap u-header-logo-toggler g-py-12">
                <!-- Logo -->
                <a href="" class="navbar-brand d-flex align-self-center g-hidden-xs-down g-line-height-1 py-0 g-mt-5">
                    {% image '@AppBundle/Resources/public/images/logo/logo-ituri.png' %}
                        <img src="{{ asset_url }}" alt="Ituri Turismo">
                    {% endimage %}
                </a>
                <!-- End Logo -->

                <!-- Sidebar Toggler -->
                <a class="js-side-nav u-header__nav-toggler d-flex align-self-center ml-auto" href="#" data-hssm-class="u-side-nav--mini u-sidebar-navigation-v1--mini" data-hssm-body-class="u-side-nav-mini" data-hssm-is-close-all-except-this="true" data-hssm-target="#sideNav">
                    <i class="hs-admin-align-left"></i>
                </a>
                <!-- End Sidebar Toggler -->
            </div>

            <div class="col-auto d-flex g-py-12 g-pl-40--lg ml-auto">

                <!-- Top User -->
                <div class="col-auto d-flex g-pt-5 g-pt-0--sm g-pl-10 g-pl-20--sm">
                    <div class="g-pos-rel g-px-10--lg">
                        <a id="profileMenuInvoker" class="d-block" href="#" aria-controls="profileMenu" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#profileMenu" data-dropdown-type="css-animation" data-dropdown-duration="300"
                           data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                            <span class="g-pos-rel">
                                <span class="u-badge-v2--xs u-badge--top-right g-hidden-sm-up g-bg-secondary g-mr-5"></span>
                                {% image '@AppBundle/Resources/public/images/logo/ituri_icon.png' %}
                                    <img src="{{ asset_url }}" class="g-width-30 g-width-40--md g-height-30 g-height-40--md rounded-circle g-mr-10--sm" alt="Image description">
                                {% endimage %}

                            </span>
                            <span class="g-pos-rel g-top-2">
                                <span class="g-hidden-sm-down">{{ app.user.username }}</span>
                                <i class="hs-admin-angle-down g-pos-rel g-top-2 g-ml-10"></i>
                            </span>
                        </a>

                        <!-- Top User Menu -->
                        <ul id="profileMenu" class="g-pos-abs g-left-0 g-width-300x--lg g-nowrap g-font-size-14 g-py-20 g-mt-17 rounded" aria-labelledby="profileMenuInvoker">
                            <li class="g-mb-10">
                                <a class="media g-color-primary--hover g-py-5 g-px-20" href="{{ path('frontend_home') }}">
                                    <span class="d-flex align-self-center g-mr-12">
                                        <i class="hs-admin-layout-grid-2"></i>
                                    </span>
                                    <span class="media-body align-self-center">Volver a Itrui</span>
                                </a>
                            </li>
                            <li class="mb-0">
                                <a class="media g-color-primary--hover g-py-5 g-px-20" href="{{ path('security_logout') }}">
                                    <span class="d-flex align-self-center g-mr-12">
                                        <i class="hs-admin-shift-right"></i>
                                    </span>
                                    <span class="media-body align-self-center">Salir</span>
                                </a>
                            </li>
                        </ul>
                        <!-- End Top User Menu -->
                    </div>
                </div>
                <!-- End Top User -->
            </div>
        </nav>
    </div>
</header>
<!-- End Header -->

<main class="container-fluid g-pt-65 px-0">
    <div class="row no-gutters g-pos-rel g-overflow-x-hidden">
        <!-- Sidebar Nav -->
        <div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--dark">
            <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">

                <!-- Usuarios -->
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                        <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMmenuUsuarios">
                            <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                <i class="hs-admin-user"></i>
                            </span>
                            <span class="media-body align-self-center">Usuarios</span>
                            <span class="d-flex align-self-center u-side-nav--control-icon">
                                <i class="hs-admin-angle-right"></i>
                            </span>
                            <span class="u-side-nav--has-sub-menu__indicator"></span>
                        </a>

                        <!-- Usuarios: Submenu-1 -->
                        <ul id="subMmenuUsuarios" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0" style="display: none;">
                            <!-- Mostrar usuarios actuales -->
                            <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="{{ path('mostrar_usuarios') }}">
                                    <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                        <i class="hs-admin-server"></i>
                                    </span>
                                    <span class="media-body align-self-center">Listar usuarios actuales</span>
                                </a>
                            </li>
                            <!-- End Mostrar usuarios actuales -->

                            <!-- Agregar nuevo usuario -->
                            <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="{{ path('crear_usuario') }}">
                                    <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                        <i class="hs-admin-plus"></i>
                                    </span>
                                    <span class="media-body align-self-center">Agregar nuevo usuario</span>
                                </a>
                            </li>
                            <!-- End Agregar nuevo usuario -->

                        </ul>
                        <!-- End Usuarios: Submenu-1 -->
                    </li>
                {% endif %}
                <!-- End Usuarios -->

                <!-- Poblaciones -->
                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMmenuPoblaciones">
                        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                            <i class="hs-admin-map"></i>
                        </span>
                        <span class="media-body align-self-center">Poblaciones</span>
                        <span class="d-flex align-self-center u-side-nav--control-icon">
                            <i class="hs-admin-angle-right"></i>
                        </span>
                        <span class="u-side-nav--has-sub-menu__indicator"></span>
                    </a>

                    <!-- Poblaciones: Submenu-1 -->
                    <ul id="subMmenuPoblaciones" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0" style="display: none;">
                        <!-- Mostrar poblaciones actuales -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                            <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="{{ path('mostrar_poblaciones') }}">
                                <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                    <i class="hs-admin-server"></i>
                                </span>
                                <span class="media-body align-self-center">Listar poblaciones actuales</span>
                            </a>
                        </li>
                        <!-- End Mostrar poblaciones actuales -->

                        <!-- Agregar nueva población -->
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="{{ path('crear_poblacion') }}">
                                    <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                        <i class="hs-admin-plus"></i>
                                    </span>
                                    <span class="media-body align-self-center">Agregar nueva población</span>
                                </a>
                            </li>
                        {% endif %}
                        <!-- End Agregar nueva población -->
                    </ul>
                    <!-- End Poblaciones: Submenu-1 -->
                </li>
                <!-- End Poblaciones -->

                <!-- Localizaciones -->
                {# u-side-nav-opened has-active #}
                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMmenuLocalizaciones">
                        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                            <i class="hs-admin-location-pin"></i>
                        </span>
                        <span class="media-body align-self-center">Localizaciones</span>
                        <span class="d-flex align-self-center u-side-nav--control-icon">
                            <i class="hs-admin-angle-right"></i>
                        </span>
                        <span class="u-side-nav--has-sub-menu__indicator"></span>
                    </a>

                    {# UPDATE localizacion_tipo SET nombre = "Punto de interes" WHERE id = 1; #}


                    <!-- Localizaciones: Submenu-1 -->
                    <ul id="subMmenuLocalizaciones" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0" style="display: none;">
                        <!-- Mostrar localizaciones actuales -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                            <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="{{ path('mostrar_localizaciones') }}">
                                <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                    <i class="hs-admin-server"></i>
                                </span>
                                <span class="media-body align-self-center">Listar localizaciones actuales</span>
                            </a>
                        </li>
                        <!-- End Mostrar localizaciones actuales -->

                        <!-- Agregar nueva localización -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                            <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="{{ path('crear_localizacion') }}">
                                <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                    <i class="hs-admin-plus"></i>
                                </span>
                                <span class="media-body align-self-center">Agregar nueva localización</span>
                            </a>
                        </li>
                        <!-- End Agregar nueva localización -->
                    </ul>
                    <!-- End Localizaciones: Submenu-1 -->
                </li>
                <!-- End Localizaciones -->

                <!-- Fotografias -->
                {#{% if is_granted('ROLE_ADMIN') %}#}
                    {#<li class="u-sidebar-navigation-v1-menu-item u-side-nav--top-level-menu-item">#}
                        {#<a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#">#}
                            {#<span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">#}
                                {#<span class="u-badge-v2--xs u-badge--bottom-right g-bg-secondary"></span>#}
                                {#<i class="hs-admin-timer"></i>#}
                            {#</span>#}
                            {#<span class="media-body align-self-center">Fotografías</span>#}
                            {#<span class="d-flex align-self-center">#}
                                {#<span class="d-inline-block text-center g-min-width-35 g-bg-secondary g-font-size-12 g-color-white g-rounded-15 g-px-8 g-py-1">5</span>#}
                            {#</span>#}
                        {#</a>#}
                    {#</li>#}
                {#{% endif %}#}
                <!-- End Fotografias -->

            </ul>
        </div>
        <!-- End Sidebar Nav -->