<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300" style="z-index: 70000">
    <div class="u-header__section u-header__section--dark g-bg-primary-gradient-opacity-v1 g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="g-py-0">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                    <span class="hamburger hamburger--slider">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Logo -->
                <a href="{{ path('frontend_home') }}" class="navbar-brand">
                    {% image '@AppBundle/Resources/public/images/logo/logo-ituri.png' %}
                        <img src="{{ asset_url }}" alt="Ituri Turismo">
                    {% endimage %}
                </a>
                <!-- End Logo -->

                <!-- Navigation -->
                <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                    <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                        {#<li class="nav-item g-mx-20--lg">#}
                            {#<a href="#" class="nav-link px-0">#}
                                {#Localidades#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item g-mx-20--lg">#}
                            {#<a href="#" class="nav-link px-0">#}
                                {#Buscador#}
                            {#</a>#}
                        {#</li>#}
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item g-mx-20--lg">
                                <a href="{{ path('mostrar_localizaciones') }}" class="nav-link px-0">
                                    <i class="icon-layers"></i>
                                    Configuración
                                </a>
                            </li>
                            <li class="nav-item g-mx-20--lg">
                                <a href="{{ path('security_logout') }}" class="nav-link px-0">
                                    Salir
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item g-mx-20--lg">
                                <a href="{{ path('security_login') }}" class="nav-link px-0">
                                    Acceder
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- End Navigation -->
            </div>
        </nav>
    </div>
</header>
<!-- End Header -->