{% set locale = app.session.get("_locale") %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}FrontEnd Layout{% endblock %}</title>
    {% block metas %}
        <meta name="description" content="Estàs cansat de buscar per les pàgines els punts d'interés dels pròxims llocs que visitis? Benvingut a Irune Turismo.">
    {% endblock %}
    {% block stylesheets %}

        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/bootstrap.min.css') }}">

        <!-- CSS Global Icons -->
        <link rel="stylesheet" href="{{ asset('vendor/icon-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/icon-line/css/simple-line-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/icon-etlinefont/style.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/icon-line-pro/style.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/icon-hs/style.css') }}">

        <link rel="stylesheet" href="{{ asset('vendor/hs-admin-icons/hs-admin-icons.css') }}">

        <link rel="stylesheet" href="{{ asset('vendor/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css') }}">

        <link rel="stylesheet" href="{{ asset('vendor/flatpickr/dist/css/flatpickr.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap-select/css/bootstrap-select.min.css') }}">

        <link rel="stylesheet" href="{{ asset('vendor/chartist-js/chartist.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/chartist-js-tooltip/chartist-plugin-tooltip.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/fancybox/jquery.fancybox.min.css') }}">

        <link rel="stylesheet" href="{{ asset('vendor/hamburgers/hamburgers.min.css') }}">

        <!-- CSS Unify -->
        <link rel="stylesheet" href="{{ asset('css/unify-admin.css') }}">

        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
              integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>

        <!-- CSS Customization -->
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

{#Solo se ven los apartados del navbar de configuracion si se esta con permisos o registrado #}

<!-- Usuario definido -->
{% if is_granted('ROLE_USER') %}
    {% include 'partials/back_navbar.html.twig' %}
{% endif %}

{% block body %}{% endblock %}

{% if is_granted('ROLE_USER') %}
    {% include 'partials/back_footer.html.twig' %}
{% endif %}

<!-- End Usuario definido -->

<!-- JS Global Compulsory -->
<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/jquery-migrate/jquery-migrate.min.js') }}"></script>

<script src="{{ asset('vendor/popper.js/popper.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/bootstrap.min.js') }}"></script>

<script src="{{ asset('vendor/cookiejs/jquery.cookie.js') }}"></script>

<!-- jQuery UI Core -->
<script src="{{ asset('vendor/jquery-ui/ui/widget.js') }}"></script>
<script src="{{ asset('vendor/jquery-ui/ui/version.js') }}"></script>
<script src="{{ asset('vendor/jquery-ui/ui/keycode.js') }}"></script>
<script src="{{ asset('vendor/jquery-ui/ui/position.js') }}"></script>
<script src="{{ asset('vendor/jquery-ui/ui/unique-id.js') }}"></script>
<script src="{{ asset('vendor/jquery-ui/ui/safe-active-element.js') }}"></script>

<!-- jQuery UI Helpers -->
{#<script src="{{ asset('vendor/') }}"></script>#}
{#<script src="{{ asset('vendor/') }}"></script>#}

<!-- jQuery UI Widgets -->
{#<script src="{{ asset('vendor/') }}"></script>#}

<!-- JS Plugins Init. -->
<script src="{{ asset('vendor/appear.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
{#<script src="{{ asset('vendor/') }}"></script>#}
{#<script src="{{ asset('vendor/') }}"></script>#}
{#<script src="{{ asset('vendor/') }}"></script>#}
{#<script src="{{ asset('vendor/') }}"></script>#}

<!-- JS Unify -->
<script src="{{ asset('js/hs.core.js') }}"></script>
<script src="{{ asset('js/components/hs.side-nav.js') }}"></script>
<script src="{{ asset('js/helpers/hs.hamburgers.js') }}"></script>
<script src="{{ asset('js/components/hs.range-datepicker.js') }}"></script>
<script src="{{ asset('js/components/hs.datepicker.js') }}"></script>
<script src="{{ asset('js/components/hs.dropdown.js') }}"></script>
<script src="{{ asset('js/components/hs.scrollbar.js') }}"></script>
<script src="{{ asset('js/components/hs.area-chart.js') }}"></script>
<script src="{{ asset('js/components/hs.donut-chart.js') }}"></script>
<script src="{{ asset('js/components/hs.bar-chart.js') }}"></script>
<script src="{{ asset('js/helpers/hs.focus-state.js') }}"></script>
<script src="{{ asset('js/components/hs.popup.js') }}"></script>

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>

<!-- JS Custom -->
<script src="{{ asset('js/custom.js') }}"></script>

<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of custom select
        $('.js-select').selectpicker();

        // initialization of hamburger
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of charts
        $.HSCore.components.HSAreaChart.init('.js-area-chart');
        $.HSCore.components.HSDonutChart.init('.js-donut-chart');
        $.HSCore.components.HSBarChart.init('.js-bar-chart');

        // initialization of sidebar navigation component
        $.HSCore.components.HSSideNav.init('.js-side-nav', {
            afterOpen: function() {
                setTimeout(function() {
                    $.HSCore.components.HSAreaChart.init('.js-area-chart');
                    $.HSCore.components.HSDonutChart.init('.js-donut-chart');
                    $.HSCore.components.HSBarChart.init('.js-bar-chart');
                }, 400);
            },
            afterClose: function() {
                setTimeout(function() {
                    $.HSCore.components.HSAreaChart.init('.js-area-chart');
                    $.HSCore.components.HSDonutChart.init('.js-donut-chart');
                    $.HSCore.components.HSBarChart.init('.js-bar-chart');
                }, 400);
            }
        });

        // initialization of range datepicker
        $.HSCore.components.HSRangeDatepicker.init('#rangeDatepicker, #rangeDatepicker2, #rangeDatepicker3');

        // initialization of datepicker
        $.HSCore.components.HSDatepicker.init('#datepicker', {
            dayNamesMin: [
                'SU',
                'MO',
                'TU',
                'WE',
                'TH',
                'FR',
                'SA'
            ]
        });

        // initialization of HSDropdown component
        $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {dropdownHideOnScroll: false});

        // initialization of custom scrollbar
        $.HSCore.components.HSScrollBar.init($('.js-custom-scroll'));

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox', {
            btnTpl: {
                smallBtn: '<button data-fancybox-close class="btn g-pos-abs g-top-25 g-right-30 g-line-height-1 g-bg-transparent g-font-size-16 g-color-gray-light-v3 g-brd-none p-0" title=""><i class="hs-admin-close"></i></button>'
            }
        });
    });
</script>

{% block javascripts %}
{% endblock %}
</body>
</html>
