{% set locale = app.session.get("_locale") %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}FrontEnd Layout{% endblock %}</title>
    {% block metas %}
        <meta name="description" content="Estàs cansat de buscar per les pàgines els punts d'interés dels pròxims llocs que visitis? Benvingut a Ituri Turismo.">
    {% endblock %}
    {% block stylesheets %}

        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/bootstrap.min.css') }}">
        <!-- CSS Global Icons -->
        <link rel="stylesheet" href="{{ asset('vendor/icon-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/icon-line/css/simple-line-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/icon-etlinefont/style.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/icon-line-pro/style.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/icon-hs/style.css"') }}">
        <link rel="stylesheet" href="{{ asset('vendor/dzsparallaxer/dzsparallaxer.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/dzsparallaxer/dzsscroller/scroller.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/dzsparallaxer/advancedscroller/plugin.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/slick-carousel/slick/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/hs-megamenu/src/hs.megamenu.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/hamburgers/hamburgers.min.css') }}">
        <!-- CSS Unify -->
        <link rel="stylesheet" href="{{ asset('css/unify-core.css') }}">
        <link rel="stylesheet" href="{{ asset('css/unify-components.css') }}">
        <link rel="stylesheet" href="{{ asset('css/unify-globals.css') }}">

        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
              integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>

        <!-- CSS Customization -->
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

{% include 'partials/front_navbar.html.twig' %}

{% block body %}{% endblock %}

<!-- JS Global Compulsory -->
<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/jquery-migrate/jquery-migrate.min.js') }}"></script>
<script src="{{ asset('vendor/popper.js/popper.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/bootstrap.min.js') }}"></script>

<!-- JS Implementing Plugins -->
<script src="{{ asset('vendor/hs-megamenu/src/hs.megamenu.js') }}"></script>
<script src="{{ asset('vendor/dzsparallaxer/dzsparallaxer.js') }}"></script>
<script src="{{ asset('vendor/dzsparallaxer/dzsscroller/scroller.js') }}"></script>
<script src="{{ asset('vendor/dzsparallaxer/advancedscroller/plugin.js') }}"></script>
<script src="{{ asset('vendor/chosen/chosen.jquery.js') }}"></script>
<script src="{{ asset('vendor/image-select/src/ImageSelect.jquery.js') }}"></script>
<script src="{{ asset('vendor/masonry/dist/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('vendor/imagesloaded/imagesloaded.js') }}"></script>
<script src="{{ asset('vendor/slick-carousel/slick/slick.js') }}"></script>

<!-- JS Unify -->
<script src="{{ asset('js/hs.core.js') }}"></script>
<script src="{{ asset('js/components/hs.header.js') }}"></script>
<script src="{{ asset('js/helpers/hs.hamburgers.js') }}"></script>
<script src="{{ asset('js/components/hs.scroll-nav.js') }}"></script>
<script src="{{ asset('js/components/hs.go-to.js') }}"></script>
<script src="{{ asset('js/components/hs.sticky-block.js') }}"></script>
<script src="{{ asset('js/helpers/hs.height-calc.js') }}"></script>
<script src="{{ asset('js/components/hs.carousel.js') }}"></script>

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>

<!-- JS Custom -->
<script src="{{ asset('js/custom.js') }}"></script>

<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // Header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu plugin
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        $.HSCore.helpers.HSHeightCalc.init();
    });

    $(window).on('load', function () {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
            duration: 700,
            over: $('.u-secondary-navigation')
        });

        // initialization of masonry.js
        $('.masonry-grid').imagesLoaded().then(function () {
            $('.masonry-grid').masonry({
                // options
                columnWidth: '.masonry-grid-sizer',
                itemSelector: '.masonry-grid-item',
                percentPosition: true
            });
        });

        // initialization of sticky blocks
        $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
    });
</script>

{% block javascripts %}
{% endblock %}
</body>
</html>
