{% trans_default_domain 'app' %}
{% extends 'back_layout.html.twig' %}
{% block title %}
    Ituri Turismo
{% endblock %}
{% block metas %}
    <meta name="description" content="Estàs cansat de buscar per les pàgines els punts d'interés dels pròxims llocs que visitis? Benvingut a Ituri Turismo.">
{% endblock %}
{% block body %}
<div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
    <!-- Breadcrumb-v1 -->
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">

            <li class="list-inline-item g-mr-10">
                <span class="g-valign-middle">Localizaciones</span>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

            {#<li class="list-inline-item g-mr-10">#}
            {#<a class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" href="#!">Tables</a>#}
            {#<i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>#}
            {#</li>#}

            <li class="list-inline-item">
                <span class="g-valign-middle">{% if tipo == 0 %}Nueva{% else %}Editar{% endif %} localización</span>
            </li>
        </ul>
    </div>

    <div class="g-pa-20">
        <h1 class="g-font-weight-400 g-font-size-28 g-color-black g-mb-20">{% if tipo == 0 %}Nueva{% else %}Editar{% endif %} localización</h1>
        <div class="row">
            <!-- 1-st column -->
            <div class="col-md-9">
                <!-- Basic Text Inputs -->
                <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
                        {# Inicio del formulario #}
                        {{ form_start(localizacionForm) }}

                        <!-- Nombre -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Nombre</label>

                            <div class="g-pos-rel">
                                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                    <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                                </span>
                                {{ form_widget(localizacionForm.nombre)}}
                            </div>
                        </div>
                        <!-- End Nombre -->

                        <!-- Población -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Población</label>

                            <div class="form-group u-select--v3 g-pos-rel g-brd-gray-light-v7 rounded-0 mb-0">
                                {{ form_widget(localizacionForm.poblacion) }}
                                <div class="d-flex align-items-center g-absolute-centered--y g-right-0 g-color-gray-light-v6 g-color-lightblue-v9--sibling-opened g-mr-15">
                                    <i class="hs-admin-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <!-- End Población -->

                        <!-- Tipo -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Tipo de localización</label>

                            <div class="form-group u-select--v3 g-pos-rel g-brd-gray-light-v7 rounded-0 mb-0">
                                {{ form_widget(localizacionForm.tipo) }}
                                <div class="d-flex align-items-center g-absolute-centered--y g-right-0 g-color-gray-light-v6 g-color-lightblue-v9--sibling-opened g-mr-15">
                                    <i class="hs-admin-angle-down"></i>
                                </div>
                            </div>
                            <small class="form-text text-muted g-font-size-default g-mt-10">
                                <strong>Nota:</strong>
                                este apartado informa sobre el tipo de localizacion que se quiere
                                agregar, mostrando u ocultando "X" según el tipo elejido.
                            </small>
                        </div>
                        <!-- End Tipo -->

                        <!-- Descripción -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Descripción</label>

                            {{ form_widget(localizacionForm.descripcion,
                            {"attr": {
                                "class": "form-control form-control-md g-resize-none g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0",
                                "rows": 3 }
                            })}}
                            <small class="form-text text-muted g-font-size-default g-mt-10">
                                <strong>Nota:</strong>
                                descripción informativa sobre la localización en sí, la cual se
                                verá de forma reducida en el mapa, pero ampliada o completa en le apartado de información sobre la misma.
                            </small>
                        </div>
                        <!-- End Descripción -->

                        <!-- Imagen -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Imagen</label>

                            <div class="g-pos-rel">
                                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                    <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                                </span>
                                {{ form_widget(localizacionForm.imagen, {"attr": {"class": "form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 g-px-14 g-py-10" }})}}
                            </div>
                            <small class="form-text text-muted g-font-size-default g-mt-10">
                                <strong>Nota:</strong> Link externo de la imagen principal de la localización. Se aceptan imagenes de tipo:".png", ".jpg".
                            </small>
                        </div>
                        <!-- End Imagen -->

                        <!-- Contacto -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Contacto</label>

                            <div class="g-pos-rel">
                                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                    <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                                </span>
                                {{ form_widget(localizacionForm.contacto, {"attr": {"class": "form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 g-px-14 g-py-10" }})}}
                            </div>
                        </div>
                        <!-- End Contacto -->

                        <!-- horario -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Horario</label>

                            <div class="g-pos-rel">
                                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                    <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                                </span>
                                {{ form_widget(localizacionForm.horario, {"attr": {"class": "form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 g-px-14 g-py-10" }})}}
                            </div>
                        </div>
                        <!-- End Contacto -->

                        <!-- Posicionamiento -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Posición del mapa</label>
                            {{ form_widget(localizacionForm.pos_lat, {"attr": {"hidden": true }}) }}
                            {{ form_widget(localizacionForm.pos_lng, {"attr": {"hidden": true }}) }}
                            <div class="g-color-white">
                                <div id="mapid" class="g-brd-around g-brd-gray-light-v7 g-rounded-4" style="height: 600px"></div>
                            </div>
                        </div>
                        <!-- End Posicionamiento -->

                        <!-- Otros apartados -->
                        <div class="form-group g-mb-30">
                            <label class="g-mb-5 g-font-weight-300 g-font-size-20">Otros</label>
                            <br>
                            ¿Quieres que sea visible en la página de "Ituri"?
                            <label class="form-check-inline u-check g-pl-25">
                                {{ form_widget(localizacionForm.visible) }}
                                <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                                    <i></i>
                                </div>
                            </label>
                        </div>
                        <!-- End Otros apartados -->

                        {{ form_widget(localizacionForm.guardar) }}
                        <a href="{{ path('mostrar_localizaciones') }}" class="btn btn-secondary">Cancelar</a>

                        {{ form_end(localizacionForm) }}
                        {# Fin del fromulario #}
                </div>
            </div>
{% endblock %}

{% block javascripts %}
    <script>
        //------------------------------------------
        //Precarga de datos por BD
        //------------------------------------------
        function obtenerPosicionamiento(){
            var poblacion_id = document.getElementById("localizacion_form_poblacion").value;
            if(poblacion_id > 0){

                $.post("{{ url('obtener_posicion_poblacion') }}",
                {id: poblacion_id}, function(){
                }).done(function(data) {

                    var localizacion = jQuery.parseJSON(data);
                    console.log("done");
                    positionLat = localizacion["pos_lat"];
                    positionLng = localizacion["pos_lng"];
                    posicionarMarker(positionLat,positionLng);

                }).fail(function() {
                    console.log("fail");
                });
            }
        }

        //------------------------------------------
        //Preconfiguración de variables para el mapa
        //------------------------------------------

        var positionLat = document.getElementById("localizacion_form_pos_lat").value;
        var positionLng = document.getElementById("localizacion_form_pos_lng").value;

        if((positionLat == 0 || positionLng == 0) ||
            (positionLat == null || positionLng == null)){
            positionLat = 41.156259319580684;
            positionLng = 1.1105937748164731;

            document.getElementById("localizacion_form_pos_lat").value = positionLat;
            document.getElementById("localizacion_form_pos_lng").value = positionLng;
        }

        //---------------------------------------------
        //Inclusión del mapa de forma básica al sistema
        //---------------------------------------------
        var Satelite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}');
        var Calles   = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}');

        var mymap = L.map('mapid', {
            center: [positionLat, positionLng],
            zoom: 15,
            layers: [Calles]
        });
        var MapasSeleccionados = {
            "Satelite": Satelite,
            "Calles": Calles
        };

        L.control.layers(MapasSeleccionados).addTo(mymap);

        //------------------------------------------
        //Configuracion de marcadores personalozados
        //------------------------------------------

        // specify popup options
        var customOptions =
            {
                'maxWidth': '500',
                'className' : 'editarPoblacion'
            }

        var marker = L.marker([positionLat, positionLng], {draggable: true})
            .bindPopup("Punto donde se posicionará el marcador en el mapa" +
                       "<br>(Recuerda que para cambiarlo, con arrastrar el marcador es suficiente)", customOptions)
            .addTo(mymap);

        marker.on('dragend',guardarPosicionMarcador);

        function guardarPosicionMarcador(e){
            var markerPosition = marker.getLatLng();
            posicionarMarker(markerPosition["lat"],markerPosition["lng"]);
        }

        var localizacion = "";
        var tipo = "";

        $( "#localizacion_form_poblacion" ).change(function() {
            localizacion = obtenerPosicionamiento();
        });

        //------------------------------------------
        //Configuración de posicionamiento del mapa
        //------------------------------------------

        function posicionarMarker(posLat,posLng){
            document.getElementById("localizacion_form_pos_lat").value = posLat;
            document.getElementById("localizacion_form_pos_lng").value = posLng;

            mymap.panTo(new L.LatLng(posLat, posLng));

            console.log("centro de vista movido!");

            var newLatLng = new L.LatLng(posLat, posLng);
            marker.setLatLng(newLatLng);

            console.log("Marcador movido!");
        }

        //------------------------------------------
        //Configurar la imagen del marcador
        //------------------------------------------

        //---------------------------------------------
    </script>
{% endblock %}