{% trans_default_domain 'app' %}
{% extends 'back_layout.html.twig' %}
{% block title %}
    Ituri Turismo
{% endblock %}
{% block metas %}
    <meta name="description" content="Estàs cansat de buscar per les pàgines els punts d'interés dels pròxims llocs que visitis? Benvingut a Ituri Turismo.">
{% endblock %}
{% block body %}
    <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
        <!-- Breadcrumb-v1 -->
        <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
            <ul class="u-list-inline g-color-gray-dark-v6">

                <li class="list-inline-item g-mr-10">
                    <span class="g-valign-middle">Localizaciones</span>
                    <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
                </li>

                {#<li class="list-inline-item g-mr-10">#}
                {#<a class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" href="#!">Tables</a>#}
                {#<i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>#}
                {#</li>#}

                <li class="list-inline-item">
                    <span class="g-valign-middle">Mostrar localizaciones</span>
                </li>
            </ul>
        </div>

        <div class="g-pa-20">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
            <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-30">Localizaciones actuales</h1>
            {% if localizaciones is empty %}
                <span>Lo sentimos pero actualmente no disponemos de localizaciones en nuestra base de datos.</span>
            {% else %}
                <div class="table-responsive">
                    <table class="js-editable-table table u-table--v3 u-editable-table--v1 g-color-black">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Poblacion</th>
                            <th>Tipo</th>
                            <th>Visible</th>
                            <th>Modificar</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for localizacion in localizaciones %}
                            {% if is_granted('ROLE_ADMIN') or localizacion.poblacion == app.user.poblacion %}
                                <tr>
                                    <td>{{ localizacion.id }}</td>
                                    <td>{{ localizacion.nombre }}</td>
                                    <td>{{ localizacion.poblacion }}</td>
                                    <td>{{ localizacion.tipo }}</td>
                                    {% if localizacion.visible %}
                                        <td>
                                            <label class="form-check-inline u-check g-pl-25">
                                                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" checked="" type="checkbox" disabled>
                                                <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                                                    <i></i>
                                                </div>
                                            </label>
                                        </td>
                                    {% else %}
                                        <td>
                                            <label class="form-check-inline u-check g-pl-25">
                                                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" disabled>
                                                <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                                                    <i></i>
                                                </div>
                                            </label>
                                        </td>
                                    {% endif %}
                                    <td>
                                        <a href="{{ path('modificar_localizacion', {'id': localizacion.id }) }}" class="js-edit u-link-v5 g-color-gray-light-v6 g-color-secondary--hover">
                                            <i class="hs-admin-pencil"></i>
                                        </a>
                                        <a href="{{ path('visualizar_localizacion', {'id': localizacion.id }) }}" class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-text-underline--none--hover g-ml-12">
                                            <i class="hs-admin-wand"></i>
                                        </a>
                                        <a href="{{ path('eliminar_localizacion', {'id': localizacion.id }) }}" class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-text-underline--none--hover g-ml-12">
                                            <i class="hs-admin-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}