/* Add here all your css styles (customizations) */
/* css to customize Leaflet default styles  */

/* Lightbrown Gradient */
.g-bg-lightbrown-radialgradient-ellipse-custom {
    background-image: -webkit-radial-gradient(ellipse farthest-corner at 50% 50%, #f7f7f7 22%, #c6be9b);
    background-image: -o-radial-gradient(ellipse farthest-corner at 50% 50%, #f7f7f7 22%, #c6be9b);
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #f7f7f7 22%, #c6be9b);
    background-repeat: no-repeat;
}

/* Lightbrown Invert Gradient */
.g-bg-lightbrown-invert-radialgradient-ellipse-custom {
    background-image: -webkit-radial-gradient(ellipse farthest-corner at 50% 50%, #c6be9b 22%, #f7f7f7);
    background-image: -o-radial-gradient(ellipse farthest-corner at 50% 50%, #c6be9b 22%, #f7f7f7);
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #c6be9b 22%, #f7f7f7);
    background-repeat: no-repeat;
}

/* CSS aplicado a los mapas: backend y ediciones */
.editarPoblacion .leaflet-popup-tip,
.editarPoblacion .leaflet-popup-content-wrapper {
    background: #e7e99c;
    color: #000000;
}

/* CSS aplicado a los mapas: frontend de localizaciones */
.custom-red .leaflet-popup-tip,
.custom-red .leaflet-popup-content-wrapper {
    background: #ba9392e6;
    color: #000000;
}

.custom-green .leaflet-popup-tip,
.custom-green .leaflet-popup-content-wrapper {
    background: #93ae8be6;
    color: #000000;
}

.custom-grey .leaflet-popup-tip,
.custom-grey .leaflet-popup-content-wrapper {
    background: #cececee6;
    color: #000000;
}

.testing-map{
    border: 3px #ff0029 !important;
}