{% trans_default_domain 'app' %}
{% extends 'back_layout.html.twig' %}
{% block title %}
    Irune Turismo
{% endblock %}
{% block metas %}
    <meta name="description" content="Estàs cansat de buscar per les pàgines els punts d'interés dels pròxims llocs que visitis? Benvingut a Irune Turismo.">
{% endblock %}

{% block body %}
    <!-- Login -->
    <section class="g-bg-gray-light-v5">
        <div class="container g-py-100">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-lg-5">
                    <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
                        <header class="text-center mb-4">
                            <h2 class="h2 g-color-black g-font-weight-600">Area de acceso</h2>
                        </header>
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <!-- Form -->
                        <div class="g-py-15">
                            {{ form_start(form) }}
                            <div class="mb-4">
                                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Usuario:</label>
                                {{ form_widget(form.usuario, {"attr": {"class": "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"}}) }}
                            </div>

                            <div class="g-mb-35">
                                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Contrasseña:</label>
                                {{ form_widget(form.password, {"attr": {"class": "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 mb-3" }}) }}
                            </div>

                            <div class="mb-4">
                                {{ form_widget(form.acceder) }}
                                <a href="{{ path('frontend_home') }}" class="btn btn-secondary">Cancelar</a>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <!-- End Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Login -->
{% endblock %}